cordova:
  socket_path: "/artifact/cordova.socks"
#TODO change this to vault store or similar, usb config is for the future and on a different layer
  usb:
    primary_label:  "CORDOVA-KEYS"
    backup_label:   "CORDOVA-BACKUP"
    mount_base:     "/artifact"
    vault_filename: "cordova.vault"

  audit:
    log_path:    "artifact/audit.log"
    max_size_mb: 100

  kdf:
    argon2id_time:    1
    argon2id_memory:  65536
    argon2id_threads: 2
